/* custom_styles.css */
[data-testid="stSidebar"] {
    background-color: #7360F0;
}
.css-w770g5, .e1ewe7hr10 {
    background-color: #F0EE60;
    color: #000;
}
.css-w770g5:hover, .e1ewe7hr10:hover, .stButton:hover {
    border-color: #000 !important;
    color: #7360F0 !important;
}
/* .st-by, .st-bt {
    background-color: #FFF;
    color: #53325C;
    border: 1x solid #7360F0 !important;
} */
/* .st-by li:hover {
    background-color: #000;
} */
.stMarkdown h1 {
    text-transform: uppercase;
    text-align: center !important;
}
.simulation {
    color: #F0EE60;
    font-size: 1em !important;
}
.block-container {
    width: 80%;
}
.stAlert {
    background-color: #7360F0 !important;
    border: 1px solid #F0EE60 !important;
    color: #000;
    text-align: center !important;
    width: 60%;
    margin: 30px auto;
}
#482a97d0 {
    color: #fff;
}
.st-emotion-cache-13ln4jf {
    max-width: 90% !important;
}
.st-ae:focus {
    border-color: #F0EE60 !important;
}