/* custom_styles.css */
[data-testid="stSidebar"] {
    background-color: #7360F0;
}
/* .main {
    background-color: #FFF;
    color: #000 !important;
} */
h2 {
    color: #000;
}
/* .css-q8sbsg p {
    color: #000;
} */
.css-w770g5, .e1ewe7hr10 {
    background-color: #F0EE60;
    color: #000;
}
.css-w770g5:hover, .e1ewe7hr10:hover, .stButton:hover {
    border-color: #000 !important;
    color: #7360F0;
}
/* .st-by, .st-bt {
    background-color: #FFF;
    color: #53325C;
    border: 1x solid #7360F0 !important;
} */
/* .st-by li:hover {
    background-color: #000;
} */
h1 .naming {
    text-transform: uppercase;
}
.simulation {
    color: #F0EE60;
    font-size: 1em !important;
}
.block-container {
    width: 80%;
}
.st-at {
    background-color: #F0EE60 !important;
    border: 2px solid #7360F0 !important;
    color: #7360F0;
}